mlflow==2.14.0
cffi==1.16.0
cloudpickle==3.0.0
defusedxml==0.7.1
graphviz==0.20.1
lightgbm==4.0.0
matplotlib==3.8.0
numpy==1.26.4
packaging==24.0
pandas==2.2.0
psutil==6.0.0
scikit-learn==1.6.1
scipy==1.15.3